In [28]:
import numpy as np
import pandas as pd
from tensorflow import keras
import tensorflow as tf
import os

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [29]:
os.chdir("/home/chaitanya/Documents/Vlsi/VLSI")
os.chdir('VLSI')
os.listdir()

['HeartRate_data.xls',
 '.ipynb_checkpoints',
 'falldeteciton.csv',
 'Finalizedmodel.sav',
 'VLSI.ipynb',
 'falldeteciton.xlsx',
 'HeartRate_data.csv',
 '.~lock.falldeteciton.csv#',
 'VLSI_FINAL.ipynb',
 'tree.jpg']

In [30]:
data = pd.read_csv('falldeteciton.csv')
data.describe()

           ACTIVITY            BP            HR   CIRCLUATION
count  16382.000000  16382.000000  16382.000000  16382.000000
mean       2.361494     58.251068    211.536992   2894.341472
std        1.739195     48.292926    129.949521   3825.927830
min        0.000000      0.000000     33.000000      5.000000
25%        0.000000     25.000000    119.000000    587.000000
50%        3.000000     44.000000    180.000000   1581.000000
75%        4.000000     78.000000    271.000000   3539.000000
max        5.000000    533.000000    986.000000  52210.000000

In [31]:
data_Y = data['ACTIVITY']
data_Y = pd.DataFrame(data_Y)
# one hot encoding
data_Y['output_0'] = 1
data_Y['output_1'] = 1
data_Y['output_2'] = 1
data_Y['output_3'] = 1
data_Y['output_4'] = 1
data_Y['output_5'] = 1

def encode(data):
    for j in range(0,16381):
        i = str(data['ACTIVITY'][j])
        data[str('output_'+i)][j]+=1
    return data

data_Y = encode(data_Y)
data_Y.pop('ACTIVITY')
data_Y.head()

   output_0  output_1  output_2  output_3  output_4  output_5
0         1         1         1         2         1         1
1         1         1         2         1         1         1
2         1         1         2         1         1         1
3         1         1         1         1         2         1
4         1         1         1         1         2         1

In [32]:
data.pop('ACTIVITY')
X_train, X_test, Y_train, Y_test = train_test_split(data, data_Y, test_size = 0.15, random_state = 41)

In [33]:
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

X_train = normalize(X_train)
X_test = normalize(X_test)
X_train.head()

             BP        HR  CIRCLUATION
10249  0.180113  0.000000     0.000000
13321  0.067542  0.210913     0.047103
9734   0.135084  0.456453     0.177588
16110  0.091932  0.303253     0.088382
14840  0.056285  0.162644     0.049689

# Preprocessing is over.

In [34]:
Y_train.head()

       output_0  output_1  output_2  output_3  output_4  output_5
10249         1         1         1         2         1         1
13321         1         1         1         2         1         1
9734          1         1         1         1         1         2
16110         1         1         1         1         1         2
14840         1         1         1         2         1         1

## MODEL BUILDING

In [38]:
def mak_model():
    model = keras.Sequential([
        keras.layers.Dense(3, activation = tf.nn.relu, input_shape = (X_train.shape[1],)),
        keras.layers.Dense(10, activation = tf.nn.relu),
        keras.layers.Dropout(0.5),
        #keras.layers.Dense(500, activation = tf.nn.relu),
        keras.layers.Dense(15, activation = tf.nn.relu),
        keras.layers.Dropout(0.5),
        keras.layers.Dense(10, activation = tf.nn.relu),
        keras.layers.Dense(6, activation = tf.nn.relu)
    ])
    
    optimizer = tf.train.AdamOptimizer(0.001)
    model.compile(loss = 'categorical_crossentropy',optimizer = optimizer, metrics = ['accuracy'])
    
    return model

model = mak_model()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 3)                 12
_________________________________________________________________
dense_21 (Dense)             (None, 10)                40
_________________________________________________________________
dropout_8 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_22 (Dense)             (None, 15)                165
_________________________________________________________________
dropout_9 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_23 (Dense)             (None, 10)                160
_________________________________________________________________
dense_24 (Dense)             (None, 6)                 66
=================================================================
Total params: 443
Trainable params: 443
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Training
class printepoch(keras.callbacks.Callback):
    def on_each_epoch(self, epoch,logs):
        print("Epoch no. "+ str(epoch), end = "\n")

epochs = 100

model.fit(X_train, Y_train, epochs=epochs, validation_split = 0.33, verbose=1, callbacks= [printepoch()], batch_size = 2)
#estimator = KerasClassifier(build_fn = mak_model, epochs = epochs, batch_size = 5,verbose = 1)

Train on 9329 samples, validate on 4595 samples
Epoch 1/100
9329/9329 [==============================] - 7s 787us/step - loss: 13.2415 - acc: 0.2135 - val_loss: 12.5299 - val_acc: 0.2881
Epoch 2/100
9329/9329 [==============================] - 7s 727us/step - loss: 12.5334 - acc: 0.2680 - val_loss: 12.5257 - val_acc: 0.2881
Epoch 3/100
9329/9329 [==============================] - 7s 716us/step - loss: 12.5295 - acc: 0.2606 - val_loss: 12.5247 - val_acc: 0.2881
Epoch 4/100
8584/9329 [==========================>...] - ETA: 0s - loss: 12.5279 - acc: 0.2630

KeyboardInterrupt:

In [15]:
model.predict(X_test)

array([[0.29106626, 0.01964102, 0.08522729, 0.22786029, 0.25086445,
        0.12534073],
       [0.2928246 , 0.02592546, 0.09668481, 0.23766883, 0.22754245,
        0.11935389],
       [0.11991239, 0.08729167, 0.33152923, 0.20378952, 0.17586884,
        0.08160841],
       ...,
       [0.303241  , 0.02165288, 0.1138244 , 0.25028238, 0.20010619,
        0.11089306],
       [0.11991239, 0.08729167, 0.33152923, 0.20378952, 0.17586884,
        0.08160841],
       [0.33859938, 0.00319822, 0.14155553, 0.2617513 , 0.1606328 ,
        0.09426283]], dtype=float32)